<div id='wrapper' ng-class="nvp.isOpen ? 'toggled' : ''">
    <!-- Sidebar -->
    <div id='sidebar-wrapper' ng-class="nvp.isOpen ? 'toggled' : ''">
      <ul class='sidebar-nav'>
        <li class='sidebar-brand'>
          <img id='profile-image' ng-src={{nvp.userImage}} class='img-circle'></img><br>
          <a>Welcome, {{nvp.userName}}</a> <!-- TODO: add profile image & username -->
        </li>
        <li>
          <a href='#/navbar/dashboard'>Dashboard</a>
        </li>
        <li>
          <a href='#/navbar/browseplant'>Browse Plants</a>
        </li>
        <li>
          <a href='#/navbar/mygarden'>Gardens</a>
        </li>
        <li>
          <a href='#/navbar/myplants'>My Plants</a>
        </li>
        <li><a href='#/settings'>Settings</a></li>
        <li><a href='#/landingPage' ng-click='nvp.logout()'>Logout</a></li>
      </ul>
    </div>
    <!-- Page Content -->
    <div id='page-content-wrapper'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-12'>
            <div id='menu-btn-container'>
              <a ng-click='nvp.toggleSideBar()' class='btn btn-default next' id='menu-toggle'>
                <i class='fa fa-bars'></i>
              </a>
            </div>
              <div ui-view='subView'></div>
          </div>
        </div>
      </div>
    </div>
</div>
