<nav id='mainNav' class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
             <!-- <a class='navbar-brand page-scroll' href='#'><i class="fa fa-tree"></i>Greenius</a> -->
             <a class='navbar-brand page-scroll' href='#'><img src="./assets/img/GreeniusLogo.png" alt=""></a>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav navbar-right'>
                <li>
                    <a ng-click='ldp.login()'>Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- TODO POPULATE WITH SUMMARY ABOUT OUR PROJECT -->
<section class='bg-primary' id='summary'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 text-center'>
                <h1 class='section-heading'>Greenius is simply genius.</h1>
                <hr class='light'>
                <p class='text-faded'>Greenius has everything you need to get your garden up and growing! With calendar notifications, plant information and garden planning, Greenius is fun and easy to use. Start planting your garden today!</p>
                <a ng-click='ldp.login()' class='btn btn-default btn-xl'>Sign up!</a>
            </div>
        </div>
    </div>
</section>

<!-- TODO: POPULATE WITH PHOTOS ABOUT GREENIUS AND OTHER PLANTS -->
<section class='no-padding' id='photos'>
    <div class='container-fluid'>
        <div class='row no-gutter'>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/fruits (1).jpg' class='img-responsive box-image' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                                <!-- Category -->
                            </div>
                            <div class='project-name'>
                                <!-- Project Name -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/flowerpots.jpg' class='img-responsive box-image' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                            </div>
                            <div class='project-name'>
                                <!-- Flower Pots -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/vegetables (1).jpg' class='img-responsive box-image' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                            </div>
                            <div class='project-name'>
                                <!-- Vegetables -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/portfolio/4.jpg' class='img-responsive' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                            </div>
                            <div class='project-name'>
                                <!-- Cooking -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/flowers (1).jpg' class='img-responsive' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                            </div>
                            <div class='project-name'>
                                <!-- Flowers -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-lg-4 col-sm-6'>
                <a class='portfolio-box'>
                    <img src='../../assets/img/portfolio/6.jpg' class='img-responsive' alt=''>
                    <div class='portfolio-box-caption'>
                        <div class='portfolio-box-caption-content'>
                            <div class='project-category text-faded'>
                            </div>
                            <div class='project-name'>
                                <!-- Tools -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- TODO POPULATE WITH INFO ABOUT GREENIUS TEAM -->
<section id='about'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 text-center'>
                <h2 class='section-heading'>About Us.</h2>
                <hr class='primary'>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3 col-md-6 text-center'>
                <div class='service-box'>
                    <i class='fa fa-4x wow bounceIn text-primary'><img class='profile-image' src = './../../assets/img/Robert.jpg'></i>
                    <h3>Robert Cardiff</h3>
                    <h5>Full Stack Engineer, Product Owner</h5>
                    <p class='text-muted'>He loves lilacs. Fo' real.</p>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 text-center'>
                <div class='service-box'>
                   <i class='fa fa-4x wow bounceIn text-primary' data-wow-delay='.1s' ><img class='profile-image' src = './../../assets/img/Elizabeth.jpg'></i>
                    <!-- <i class='fa fa-4x fa-paper-plane wow bounceIn text-primary' data-wow-delay='.1s'></i> -->
                    <h3>Elizabeth Banalagay</h3>
                    <h5>Full Stack Engineer, Scrum Master</h5>
                    <p class='text-muted'>She loves cacti. The pricklier, the better. She currently owns four: Johann, Cynthia, Sebastian, and George.</p>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 text-center'>
                <div class='service-box'>
                    <i class='fa fa-4x wow bounceIn text-primary' data-wow-delay='.2s'><img class='profile-image' src = './../../assets/img/Geetha.jpg'></i>
                    <h3>Geetha Ratnam</h3>
                    <h5>Full Stack Engineer</h5>
                    <p class='text-muted'>She loves sunflowers. Just like a sunflower, she can brighten up anyone's day with her 'sunny' personality.</p>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 text-center'>
                <div class='service-box'>
                    <i class='fa fa-4x wow bounceIn text-primary' data-wow-delay='.3s'><img class='profile-image' src = './../../assets/img/Brandon.jpg'></i>
                    <h3>Brandon Goodfliesh</h3>
                    <h5>Full Stack Engineer</h5>
                    <p class='text-muted'>We're not sure if we are allowed to say his favorite plant. We'll just make it up and say its a rose.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class='bg-dark'>
    <div class='container text-center'>
    </div>
</aside>


<aside class='bg-dark'>

<section id='contact'>
  <a name='contact'></a>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 text-center'>
                <h2 class='section-heading'>Contact Us!</h2>
                <hr class='primary'>
                <p>Questions? Comments? Musings about Greenius? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class='col-lg-4 col-lg-offset-2 text-center'>
                <i class='fa fa-phone fa-3x wow bounceIn'></i>
                <p>(760)774-9178</p>
            </div>
            <div class='col-lg-4 text-center'>
                <i class='fa fa-envelope-o fa-3x wow bounceIn' data-wow-delay='.1s'></i>
                <p><a href='mailto:your-email@your-domain.com'>greenius.thesis@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>
