<nav id='mainNav' class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
             <!-- <a class='navbar-brand page-scroll' href='#'><i class="fa fa-tree"></i>Greenius</a> -->
             <a class='navbar-brand page-scroll' href='#'><img src="./assets/GreeniusLogoWhite.png" alt=""></a>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav navbar-right'>
                <li>
                    <a ng-click='ldp.login()'>Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<section class='bg-primary' id='about'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 text-center'>

                <h1 class='text-center'>Delete your Account</h1>
                <form name='addForm' novalidate>
                    <!-- TODO: This button should be connected to Auth0 to delete the  -->
                    <hr class='light'>
                    <p class='text-faded'>Delete your account and remove your calendar events, plants, and gardens.</p>
                    <button type='submit' class='btn btn-default btn-xl' ng-click='ldp.deleteUser()' >Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</section>
















