<div class='container-fluid'>
  <div class='row'><!-- row -->
    <div class='col-md-12'>
      <h1 class='page-header'>
        <a ng-click='nvp.toggleSideBar()' class='btn btn-default next' id='menu-toggle'>
        <i class='fa fa-bars'></i>
        </a> Gardens <small>Drag and drop plants</small>
      </h1>
    </div>
  </div>

  <div class='row'><!-- row -->
    <div class='col-md-3'><!-- create and delete plant-->
      <h3>Create a Garden</h3>
      <form class='form-inline'>
        <div class='form-group'>
          <div class='input-group'>
            <input type='text' class='form-control' ng-model='mgp.data.gardenAdded'
            placeholder='Garden Name' >
          </div>
        </div>
        <button ng-click = 'mgp.addGarden()' class='btn btn-primary'>Add</button>
      </form>

      <h3>Delete a Garden</h3>
      <form class='form-inline'>
        <select class='form-control' ng-model='mgp.data.gardenDelete'>
          <option id="disabledInput">Select a Garden</option>
          <option ng-repeat='(key, value) in mgp.gardens'>{{value}}</option>
        </select>
        <button ng-click = 'mgp.deleteGarden()' class='btn btn-danger'>Delete</button>
      </form>

    </div>
    <div class='myGarden col-md-6'><!-- nursery panel-->
       

      <div ng-repeat='list in mgp.lists' id={{list.label}}>
        <div class='panel panel-info myGarden'>
          <div class='panel-heading'>
              <h3 class='panel-title'>{{list.label}}</h3>
          </div>
          <ul dnd-list='list.plants'
              dnd-inserted='mgp.dropCallback(event, index, item, external, type)' >
            <li ng-repeat='plant in list.plants'
                dnd-draggable='plant'
                dnd-disable-if='plant.gardenId !== '''
                dnd-type='plant.type'
                dnd-moved='mgp.confirm(); list.plants.splice($index, 1)'
                dnd-canceled='list.plants.splice($index, 1)'
                ng-init='plant.bucket = list.label'>
                <div class='handle' >:::</div> <!--different handle based on type?-->
                <div class='name' dnd-nodrag>{{plant.name}}</div>
            </li>
          </ul>
      </div>




       
    </div>
  </div><!-- row -->

  <div class='row'><!-- row -->
    <div class='col-md-9'><!-- garden -->
    </div>
  </div>

</div> <!-- container -->