<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="page-header">
            The Greenhouse <small>Select plants you want to add to your nursery</small>
        </h1>
    </div>
  </div>
  <div class='row'>
    <div class = "col-md-3">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Filter</span>
        <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
      </div>
      <div class="list-group">
        <a class="list-group-item " ng-show='query' ng-repeat='plant in bpp.plants | filter:query' ng-click = "bpp.changeCommonName(plant)">{{plant}}</a>
      </div>
    </div>
    <div class = 'col-md-6'>
      <!-- PANEL SHOWS WHEN USER CLICKS PLANT NAME -->
      <div ng-if="bpp.promptToAddPlant === true" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add plant to your garden: </h3>
        </div>
        <div class="panel-body">
          <h2>{{bpp.data.commonName}}</h2>
          <h4>{{bpp.data.botanicalName}}</h4>
          <div class="input-group">
            <input type="text" ng-model='bpp.data.nickname' class="form-control" placeholder="Name your plant...">
            <span class="input-group-btn">
              <button  ng-click ='bpp.addPlant()' class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
    </div>
    <div class = 'col-md-3'></div>
  </div>
</div>
