<div class="container-fluid">
  <div class="row">
  	<div class="container-fluid" ng-controller="authController">
  <div class="row">

    <div class="panel panel-alert">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Login</h2>
        </div>
        <div class="panel-body">
            <form name="addForm" novalidate>

                <button type="submit" class="btn btn-success btn-block" ng-click="login()">Submit</button>
                <button type="submit" class="btn btn-danger btn-block" ng-click="logout()">Logout</button>

            </form>
        </div>
    </div>

  </div>
</div>
  </div>
</div>